//主题颜色
@backColor:#eff3f5;
@Color:#23a3d5;
@blackColor:rgba(0, 0, 0, 0.64);
@display:inline-block;

.backManager{
    margin-top: 50px;
    width: 100%;
    li.mui-table-view-cell{
        display: block;
        float: none;
    }
}

table{
    tr,td{
        border: solid @Color 1px;
    }
}
