#headerNav {
  border: none !important;
  margin-right: 10px;
}
#headerNav li:first-of-type a {
  color: white;
}
#headerNav li:nth-of-type(2) a,
#headerNav li:nth-of-type(3) a {
  color: black;
}
#headerNav li a {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#wrapCity {
  position: relative;
  width: 300%;
}
#wrapCity .indexShow {
  width: 33.333333333%;
  float: left;
}
#theme {
  height: 30px;
  width: 60px;
  display: inline-block;
  background: #23a3d5;
  position: absolute;
  top: 6px;
  z-index: -1;
  border-radius: 5px;
}
#themeSecond {
  display: inline-block;
  height: 3px;
  width: 25%;
  background: #23a3d5;
  position: relative;
  top: -13px;
}
.indexShow #bookCityNav {
  width: 100%;
}
.indexShow #bookCityNav li {
  width: 25%;
  text-align: center;
}
.indexShow #bookCityNav li a {
  color: #23a3d5;
}
.indexShow #bookCityMore {
  position: relative;
  width: 400%;
}
.indexShow #bookCityMore .bookCityDetail {
  width: 25%;
  float: left;
  height: 100px;
  margin-top: 10px;
}
.indexShow:nth-child(1) p {
  margin-left: 20px;
  color: #23a3d5;
}
.indexShow:nth-child(1) p i {
  font-size: 30px;
  position: relative;
  top: 7px;
  left: -5px;
}
.indexShow:nth-child(1) #nothing {
  margin-top: 80px;
  text-align: center;
  display: none;
}
.indexShow:nth-child(1) #nothing ul li {
  display: inline-block;
  float: left;
  float: none;
  border: #23a3d5 solid 1px;
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
}
.indexShow:nth-child(1) #nothing ul li a {
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
}
.indexShow:nth-child(1) #nothing ul li a i {
  font-size: 18px;
  margin-right: 5px;
  color: #23a3d5;
}
#showSale .store img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}
#showSale .store h5 {
  float: left;
  margin-left: 15px;
  position: relative;
  top: 30px;
  font-size: 16px;
  min-width: 170px;
}
#showSale .store p {
  position: relative;
  top: 35px;
  float: left;
  left: 15px;
}
#showSale .store i {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
#userHead {
  height: 30%;
  padding-top: 10%;
  text-align: center;
}
#userHead img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#userHead p {
  margin-top: 8px;
}
#userHead ul:first-of-type {
  border-top: solid 1px rgba(248, 248, 255, 0.35);
  padding-top: 10px;
}
#userHead ul:first-of-type li {
  width: 50%;
}
#userHead ul:first-of-type li p {
  margin-bottom: 0;
}
#userHead ul:first-of-type li:first-of-type {
  border-right: solid 1px rgba(248, 248, 255, 0.35);
}
#userHead ul:nth-of-type(2) {
  background: rgba(248, 248, 255, 0.83);
  margin-top: 70px;
}
#userHead ul:nth-of-type(2) li {
  float: none;
  display: block;
  height: 60px;
  border-bottom: 1px rgba(128, 128, 128, 0.27) solid;
}
#userHead ul:nth-of-type(2) li a {
  line-height: 60px;
  color: rgba(0, 0, 0, 0.64);
}
#userHead ul:nth-of-type(2) li a i {
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.bookCityDetail ul.tuijianImg {
  width: 100%;
}
.bookCityDetail ul.tuijianImg li {
  width: 50%;
}
.bookCityDetail ul.tuijianImg li img {
  width: 100%;
  float: left;
}
.bookCityDetail p.gonggao {
  border: solid 1px rgba(128, 128, 128, 0.26);
  background: rgba(255, 255, 255, 0.83);
  padding-left: 10px;
  box-shadow: 2px 2px 10px rgba(136, 136, 136, 0.79);
  margin-top: 10px;
  line-height: 22px;
}
.bookCityDetail p.gonggao i {
  font-size: 30px;
  position: relative;
  top: 7px;
  left: -5px;
}
.bookCityDetail ul.tuijianList {
  margin-top: 20px;
}
.bookCityDetail ul.tuijianList li {
  width: 25%;
  text-align: center;
}
.bookCityDetail ul.tuijianList li i {
  display: block;
  font-size: 28px;
}
.bookCityDetail hr {
  width: 100%;
  border-top: 1px solid #23a3d5;
}
.bookCityDetail .wrapDiv {
  padding-left: 5px;
  padding-right: 5px;
}
.bookCityDetail #weekTui h4,
.bookCityDetail #myTui h4,
.bookCityDetail #boyTui h4,
.bookCityDetail #girlTui h4,
.bookCityDetail #bestSale h4,
.bookCityDetail #reward h4,
.bookCityDetail #paihang1 h4,
.bookCityDetail #paihang2 h4,
.bookCityDetail #paihang3 h4,
.bookCityDetail #class1 h4,
.bookCityDetail #class2 h4,
.bookCityDetail #class3 h4,
.bookCityDetail #class4 h4,
.bookCityDetail #jingdian1 h4,
.bookCityDetail #jingdian2 h4,
.bookCityDetail #jingdian3 h4,
.bookCityDetail #weekTui > p,
.bookCityDetail #myTui > p,
.bookCityDetail #boyTui > p,
.bookCityDetail #girlTui > p,
.bookCityDetail #bestSale > p,
.bookCityDetail #reward > p,
.bookCityDetail #paihang1 > p,
.bookCityDetail #paihang2 > p,
.bookCityDetail #paihang3 > p,
.bookCityDetail #class1 > p,
.bookCityDetail #class2 > p,
.bookCityDetail #class3 > p,
.bookCityDetail #class4 > p,
.bookCityDetail #jingdian1 > p,
.bookCityDetail #jingdian2 > p,
.bookCityDetail #jingdian3 > p {
  display: inline-block;
  color: #23a3d5;
}
.bookCityDetail #weekTui h4 i,
.bookCityDetail #myTui h4 i,
.bookCityDetail #boyTui h4 i,
.bookCityDetail #girlTui h4 i,
.bookCityDetail #bestSale h4 i,
.bookCityDetail #reward h4 i,
.bookCityDetail #paihang1 h4 i,
.bookCityDetail #paihang2 h4 i,
.bookCityDetail #paihang3 h4 i,
.bookCityDetail #class1 h4 i,
.bookCityDetail #class2 h4 i,
.bookCityDetail #class3 h4 i,
.bookCityDetail #class4 h4 i,
.bookCityDetail #jingdian1 h4 i,
.bookCityDetail #jingdian2 h4 i,
.bookCityDetail #jingdian3 h4 i,
.bookCityDetail #weekTui > p i,
.bookCityDetail #myTui > p i,
.bookCityDetail #boyTui > p i,
.bookCityDetail #girlTui > p i,
.bookCityDetail #bestSale > p i,
.bookCityDetail #reward > p i,
.bookCityDetail #paihang1 > p i,
.bookCityDetail #paihang2 > p i,
.bookCityDetail #paihang3 > p i,
.bookCityDetail #class1 > p i,
.bookCityDetail #class2 > p i,
.bookCityDetail #class3 > p i,
.bookCityDetail #class4 > p i,
.bookCityDetail #jingdian1 > p i,
.bookCityDetail #jingdian2 > p i,
.bookCityDetail #jingdian3 > p i {
  font-size: 14px;
}
.bookCityDetail #weekTui h4,
.bookCityDetail #myTui h4,
.bookCityDetail #boyTui h4,
.bookCityDetail #girlTui h4,
.bookCityDetail #bestSale h4,
.bookCityDetail #reward h4,
.bookCityDetail #paihang1 h4,
.bookCityDetail #paihang2 h4,
.bookCityDetail #paihang3 h4,
.bookCityDetail #class1 h4,
.bookCityDetail #class2 h4,
.bookCityDetail #class3 h4,
.bookCityDetail #class4 h4,
.bookCityDetail #jingdian1 h4,
.bookCityDetail #jingdian2 h4,
.bookCityDetail #jingdian3 h4 {
  margin: 5px 0 0;
}
.bookCityDetail #weekTui .h4befor,
.bookCityDetail #myTui .h4befor,
.bookCityDetail #boyTui .h4befor,
.bookCityDetail #girlTui .h4befor,
.bookCityDetail #bestSale .h4befor,
.bookCityDetail #reward .h4befor,
.bookCityDetail #paihang1 .h4befor,
.bookCityDetail #paihang2 .h4befor,
.bookCityDetail #paihang3 .h4befor,
.bookCityDetail #class1 .h4befor,
.bookCityDetail #class2 .h4befor,
.bookCityDetail #class3 .h4befor,
.bookCityDetail #class4 .h4befor,
.bookCityDetail #jingdian1 .h4befor,
.bookCityDetail #jingdian2 .h4befor,
.bookCityDetail #jingdian3 .h4befor {
  width: 5px;
  height: 20px;
  display: inline-block;
  background: #23a3d5;
  margin-left: 5;
  margin-left: 5px;
  position: relative;
  top: 4px;
}
.bookCityDetail #weekTui div li,
.bookCityDetail #myTui div li,
.bookCityDetail #boyTui div li,
.bookCityDetail #girlTui div li,
.bookCityDetail #bestSale div li,
.bookCityDetail #reward div li,
.bookCityDetail #paihang1 div li,
.bookCityDetail #paihang2 div li,
.bookCityDetail #paihang3 div li,
.bookCityDetail #class1 div li,
.bookCityDetail #class2 div li,
.bookCityDetail #class3 div li,
.bookCityDetail #class4 div li,
.bookCityDetail #jingdian1 div li,
.bookCityDetail #jingdian2 div li,
.bookCityDetail #jingdian3 div li {
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}
.bookCityDetail #weekTui div li img,
.bookCityDetail #myTui div li img,
.bookCityDetail #boyTui div li img,
.bookCityDetail #girlTui div li img,
.bookCityDetail #bestSale div li img,
.bookCityDetail #reward div li img,
.bookCityDetail #paihang1 div li img,
.bookCityDetail #paihang2 div li img,
.bookCityDetail #paihang3 div li img,
.bookCityDetail #class1 div li img,
.bookCityDetail #class2 div li img,
.bookCityDetail #class3 div li img,
.bookCityDetail #class4 div li img,
.bookCityDetail #jingdian1 div li img,
.bookCityDetail #jingdian2 div li img,
.bookCityDetail #jingdian3 div li img {
  width: 100%;
  height: 100px;
}
.bookCityDetail #weekTui button,
.bookCityDetail #myTui button,
.bookCityDetail #boyTui button,
.bookCityDetail #girlTui button,
.bookCityDetail #bestSale button,
.bookCityDetail #reward button,
.bookCityDetail #paihang1 button,
.bookCityDetail #paihang2 button,
.bookCityDetail #paihang3 button,
.bookCityDetail #class1 button,
.bookCityDetail #class2 button,
.bookCityDetail #class3 button,
.bookCityDetail #class4 button,
.bookCityDetail #jingdian1 button,
.bookCityDetail #jingdian2 button,
.bookCityDetail #jingdian3 button {
  margin-right: 5%;
  color: white;
}
.bookCityDetail #weekTui button:first-of-type,
.bookCityDetail #myTui button:first-of-type,
.bookCityDetail #boyTui button:first-of-type,
.bookCityDetail #girlTui button:first-of-type,
.bookCityDetail #bestSale button:first-of-type,
.bookCityDetail #reward button:first-of-type,
.bookCityDetail #paihang1 button:first-of-type,
.bookCityDetail #paihang2 button:first-of-type,
.bookCityDetail #paihang3 button:first-of-type,
.bookCityDetail #class1 button:first-of-type,
.bookCityDetail #class2 button:first-of-type,
.bookCityDetail #class3 button:first-of-type,
.bookCityDetail #class4 button:first-of-type,
.bookCityDetail #jingdian1 button:first-of-type,
.bookCityDetail #jingdian2 button:first-of-type,
.bookCityDetail #jingdian3 button:first-of-type {
  margin-left: 5%;
  background: rgba(0, 206, 255, 0.28);
  border: rgba(0, 206, 255, 0.28);
}
.bookCityDetail #weekTui button:nth-of-type(2),
.bookCityDetail #myTui button:nth-of-type(2),
.bookCityDetail #boyTui button:nth-of-type(2),
.bookCityDetail #girlTui button:nth-of-type(2),
.bookCityDetail #bestSale button:nth-of-type(2),
.bookCityDetail #reward button:nth-of-type(2),
.bookCityDetail #paihang1 button:nth-of-type(2),
.bookCityDetail #paihang2 button:nth-of-type(2),
.bookCityDetail #paihang3 button:nth-of-type(2),
.bookCityDetail #class1 button:nth-of-type(2),
.bookCityDetail #class2 button:nth-of-type(2),
.bookCityDetail #class3 button:nth-of-type(2),
.bookCityDetail #class4 button:nth-of-type(2),
.bookCityDetail #jingdian1 button:nth-of-type(2),
.bookCityDetail #jingdian2 button:nth-of-type(2),
.bookCityDetail #jingdian3 button:nth-of-type(2) {
  background: #eec8f3;
  border: #eec8f3;
}
.bookCityDetail #weekTui button:nth-of-type(3),
.bookCityDetail #myTui button:nth-of-type(3),
.bookCityDetail #boyTui button:nth-of-type(3),
.bookCityDetail #girlTui button:nth-of-type(3),
.bookCityDetail #bestSale button:nth-of-type(3),
.bookCityDetail #reward button:nth-of-type(3),
.bookCityDetail #paihang1 button:nth-of-type(3),
.bookCityDetail #paihang2 button:nth-of-type(3),
.bookCityDetail #paihang3 button:nth-of-type(3),
.bookCityDetail #class1 button:nth-of-type(3),
.bookCityDetail #class2 button:nth-of-type(3),
.bookCityDetail #class3 button:nth-of-type(3),
.bookCityDetail #class4 button:nth-of-type(3),
.bookCityDetail #jingdian1 button:nth-of-type(3),
.bookCityDetail #jingdian2 button:nth-of-type(3),
.bookCityDetail #jingdian3 button:nth-of-type(3) {
  background: rgba(0, 128, 0, 0.28);
  border: rgba(0, 128, 0, 0.28);
}
.bookCityDetail #weekTui button:last-of-type,
.bookCityDetail #myTui button:last-of-type,
.bookCityDetail #boyTui button:last-of-type,
.bookCityDetail #girlTui button:last-of-type,
.bookCityDetail #bestSale button:last-of-type,
.bookCityDetail #reward button:last-of-type,
.bookCityDetail #paihang1 button:last-of-type,
.bookCityDetail #paihang2 button:last-of-type,
.bookCityDetail #paihang3 button:last-of-type,
.bookCityDetail #class1 button:last-of-type,
.bookCityDetail #class2 button:last-of-type,
.bookCityDetail #class3 button:last-of-type,
.bookCityDetail #class4 button:last-of-type,
.bookCityDetail #jingdian1 button:last-of-type,
.bookCityDetail #jingdian2 button:last-of-type,
.bookCityDetail #jingdian3 button:last-of-type {
  background: rgba(239, 166, 32, 0.38);
  border: rgba(239, 166, 32, 0.38);
}
.bookCityDetail #weekTui .new_ul,
.bookCityDetail #myTui .new_ul,
.bookCityDetail #boyTui .new_ul,
.bookCityDetail #girlTui .new_ul,
.bookCityDetail #bestSale .new_ul,
.bookCityDetail #reward .new_ul,
.bookCityDetail #paihang1 .new_ul,
.bookCityDetail #paihang2 .new_ul,
.bookCityDetail #paihang3 .new_ul,
.bookCityDetail #class1 .new_ul,
.bookCityDetail #class2 .new_ul,
.bookCityDetail #class3 .new_ul,
.bookCityDetail #class4 .new_ul,
.bookCityDetail #jingdian1 .new_ul,
.bookCityDetail #jingdian2 .new_ul,
.bookCityDetail #jingdian3 .new_ul {
  margin-top: 5px;
}
.bookCityDetail #weekTui .new_ul li,
.bookCityDetail #myTui .new_ul li,
.bookCityDetail #boyTui .new_ul li,
.bookCityDetail #girlTui .new_ul li,
.bookCityDetail #bestSale .new_ul li,
.bookCityDetail #reward .new_ul li,
.bookCityDetail #paihang1 .new_ul li,
.bookCityDetail #paihang2 .new_ul li,
.bookCityDetail #paihang3 .new_ul li,
.bookCityDetail #class1 .new_ul li,
.bookCityDetail #class2 .new_ul li,
.bookCityDetail #class3 .new_ul li,
.bookCityDetail #class4 .new_ul li,
.bookCityDetail #jingdian1 .new_ul li,
.bookCityDetail #jingdian2 .new_ul li,
.bookCityDetail #jingdian3 .new_ul li {
  width: 100%;
}
.bookCityDetail #weekTui .new_ul li a:after,
.bookCityDetail #myTui .new_ul li a:after,
.bookCityDetail #boyTui .new_ul li a:after,
.bookCityDetail #girlTui .new_ul li a:after,
.bookCityDetail #bestSale .new_ul li a:after,
.bookCityDetail #reward .new_ul li a:after,
.bookCityDetail #paihang1 .new_ul li a:after,
.bookCityDetail #paihang2 .new_ul li a:after,
.bookCityDetail #paihang3 .new_ul li a:after,
.bookCityDetail #class1 .new_ul li a:after,
.bookCityDetail #class2 .new_ul li a:after,
.bookCityDetail #class3 .new_ul li a:after,
.bookCityDetail #class4 .new_ul li a:after,
.bookCityDetail #jingdian1 .new_ul li a:after,
.bookCityDetail #jingdian2 .new_ul li a:after,
.bookCityDetail #jingdian3 .new_ul li a:after {
  color: #23a3d5;
}
.bookCityDetail #weekTui .new_ul:before,
.bookCityDetail #myTui .new_ul:before,
.bookCityDetail #boyTui .new_ul:before,
.bookCityDetail #girlTui .new_ul:before,
.bookCityDetail #bestSale .new_ul:before,
.bookCityDetail #reward .new_ul:before,
.bookCityDetail #paihang1 .new_ul:before,
.bookCityDetail #paihang2 .new_ul:before,
.bookCityDetail #paihang3 .new_ul:before,
.bookCityDetail #class1 .new_ul:before,
.bookCityDetail #class2 .new_ul:before,
.bookCityDetail #class3 .new_ul:before,
.bookCityDetail #class4 .new_ul:before,
.bookCityDetail #jingdian1 .new_ul:before,
.bookCityDetail #jingdian2 .new_ul:before,
.bookCityDetail #jingdian3 .new_ul:before,
.bookCityDetail #weekTui .new_ul:after,
.bookCityDetail #myTui .new_ul:after,
.bookCityDetail #boyTui .new_ul:after,
.bookCityDetail #girlTui .new_ul:after,
.bookCityDetail #bestSale .new_ul:after,
.bookCityDetail #reward .new_ul:after,
.bookCityDetail #paihang1 .new_ul:after,
.bookCityDetail #paihang2 .new_ul:after,
.bookCityDetail #paihang3 .new_ul:after,
.bookCityDetail #class1 .new_ul:after,
.bookCityDetail #class2 .new_ul:after,
.bookCityDetail #class3 .new_ul:after,
.bookCityDetail #class4 .new_ul:after,
.bookCityDetail #jingdian1 .new_ul:after,
.bookCityDetail #jingdian2 .new_ul:after,
.bookCityDetail #jingdian3 .new_ul:after {
  background-color: #efeff4;
}
.bookCityDetail #weekTui .new_ul:first-of-type li:after,
.bookCityDetail #myTui .new_ul:first-of-type li:after,
.bookCityDetail #boyTui .new_ul:first-of-type li:after,
.bookCityDetail #girlTui .new_ul:first-of-type li:after,
.bookCityDetail #bestSale .new_ul:first-of-type li:after,
.bookCityDetail #reward .new_ul:first-of-type li:after,
.bookCityDetail #paihang1 .new_ul:first-of-type li:after,
.bookCityDetail #paihang2 .new_ul:first-of-type li:after,
.bookCityDetail #paihang3 .new_ul:first-of-type li:after,
.bookCityDetail #class1 .new_ul:first-of-type li:after,
.bookCityDetail #class2 .new_ul:first-of-type li:after,
.bookCityDetail #class3 .new_ul:first-of-type li:after,
.bookCityDetail #class4 .new_ul:first-of-type li:after,
.bookCityDetail #jingdian1 .new_ul:first-of-type li:after,
.bookCityDetail #jingdian2 .new_ul:first-of-type li:after,
.bookCityDetail #jingdian3 .new_ul:first-of-type li:after {
  height: 1px;
  border-bottom: dashed #23a3d5 1px;
  background-color: #eff3f5;
}
.bookCityDetail #weekTui .new_ul:nth-of-type(2) li:after,
.bookCityDetail #myTui .new_ul:nth-of-type(2) li:after,
.bookCityDetail #boyTui .new_ul:nth-of-type(2) li:after,
.bookCityDetail #girlTui .new_ul:nth-of-type(2) li:after,
.bookCityDetail #bestSale .new_ul:nth-of-type(2) li:after,
.bookCityDetail #reward .new_ul:nth-of-type(2) li:after,
.bookCityDetail #paihang1 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #paihang2 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #paihang3 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #class1 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #class2 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #class3 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #class4 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #jingdian1 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #jingdian2 .new_ul:nth-of-type(2) li:after,
.bookCityDetail #jingdian3 .new_ul:nth-of-type(2) li:after {
  background-color: #eff3f5;
  border-bottom: 1px #23a3d5 dashed;
}
.bookCityDetail #weekTui .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #myTui .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #boyTui .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #girlTui .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #bestSale .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #reward .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #paihang1 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #paihang2 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #paihang3 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #class1 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #class2 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #class3 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #class4 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #jingdian1 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #jingdian2 .new_ul:nth-of-type(2) li:last-of-type,
.bookCityDetail #jingdian3 .new_ul:nth-of-type(2) li:last-of-type {
  height: 60px;
}
.bookCityDetail #weekTui .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #myTui .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #boyTui .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #girlTui .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #bestSale .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #reward .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #paihang1 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #paihang2 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #paihang3 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #class1 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #class2 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #class3 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #class4 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #jingdian1 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #jingdian2 .new_ul:nth-of-type(2) li:last-of-type span,
.bookCityDetail #jingdian3 .new_ul:nth-of-type(2) li:last-of-type span {
  margin-top: -9px;
}
.bookCityDetail #weekTui .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #myTui .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #boyTui .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #girlTui .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #bestSale .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #reward .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #paihang1 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #paihang2 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #paihang3 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #class1 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #class2 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #class3 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #class4 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #jingdian1 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #jingdian2 .new_ul:nth-of-type(2) li:last-of-type:after,
.bookCityDetail #jingdian3 .new_ul:nth-of-type(2) li:last-of-type:after {
  border-bottom: none;
}
.bookCityDetail #bestSale ul li,
.bookCityDetail #paihang1 ul li,
.bookCityDetail #paihang2 ul li,
.bookCityDetail #paihang3 ul li {
  padding-left: 40px;
}
.bookCityDetail #bestSale ul li span,
.bookCityDetail #paihang1 ul li span,
.bookCityDetail #paihang2 ul li span,
.bookCityDetail #paihang3 ul li span {
  left: 10px;
  width: 21px;
}
.bookCityDetail #reward ul li span {
  background-color: rgba(255, 232, 0, 0.58);
  right: 50px;
}
.bookCityDetail #paihang1 ul li img,
.bookCityDetail #paihang2 ul li img,
.bookCityDetail #paihang3 ul li img {
  height: 60px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: -1;
}
.bookCityDetail #paihang1 ul li span,
.bookCityDetail #paihang2 ul li span,
.bookCityDetail #paihang3 ul li span {
  margin-top: -10px;
}
.bookCityDetail #paihang1 ul li:first-of-type,
.bookCityDetail #paihang2 ul li:first-of-type,
.bookCityDetail #paihang3 ul li:first-of-type {
  padding-left: 70px;
  padding-top: 0;
}
.bookCityDetail #paihang1 ul li:first-of-type span,
.bookCityDetail #paihang2 ul li:first-of-type span,
.bookCityDetail #paihang3 ul li:first-of-type span {
  background-color: #e6595b !important;
  margin-top: -25px;
}
.bookCityDetail #paihang1 ul li:first-of-type p,
.bookCityDetail #paihang2 ul li:first-of-type p,
.bookCityDetail #paihang3 ul li:first-of-type p {
  font-size: 12px;
}
.bookCityDetail #paihang1 ul li:first-of-type button,
.bookCityDetail #paihang2 ul li:first-of-type button,
.bookCityDetail #paihang3 ul li:first-of-type button {
  top: 30%;
  right: 0;
  color: #23a3d5;
  border: solid #23a3d5 1px;
  background-color: #eff3f5;
  font-size: 12px;
  padding: 5px;
}
.bookCityDetail #paihang1 ul li span,
.bookCityDetail #paihang2 ul li span,
.bookCityDetail #paihang3 ul li span {
  margin-top: -10px;
}
.bookCityDetail #class1 ul,
.bookCityDetail #class2 ul,
.bookCityDetail #class3 ul,
.bookCityDetail #class4 ul {
  margin-top: 20px;
  padding-left: 15px;
}
.bookCityDetail #class1 ul li,
.bookCityDetail #class2 ul li,
.bookCityDetail #class3 ul li,
.bookCityDetail #class4 ul li {
  width: 50%;
}
.bookCityDetail #class1 ul li a span:first-of-type,
.bookCityDetail #class2 ul li a span:first-of-type,
.bookCityDetail #class3 ul li a span:first-of-type,
.bookCityDetail #class4 ul li a span:first-of-type {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 206, 255, 0.28);
  display: inline-block;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 11px;
  position: relative;
  top: -10px;
}
.bookCityDetail #class1 ul li a span:nth-of-type(2),
.bookCityDetail #class2 ul li a span:nth-of-type(2),
.bookCityDetail #class3 ul li a span:nth-of-type(2),
.bookCityDetail #class4 ul li a span:nth-of-type(2) {
  background-color: #23a3d5;
  width: 1px;
  height: 25px;
  display: inline-block;
  float: right;
  margin-right: 15px;
  position: relative;
  top: 5px;
}
.bookCityDetail #class1 ul li a p,
.bookCityDetail #class2 ul li a p,
.bookCityDetail #class3 ul li a p,
.bookCityDetail #class4 ul li a p {
  display: inline-block;
  width: 60%;
  font-size: 12px;
}
.bookCityDetail #allbang,
.bookCityDetail #class1 table,
.bookCityDetail #class2 table,
.bookCityDetail #class3 table,
.bookCityDetail #class4 table {
  width: 100%;
  text-align: center;
}
.bookCityDetail #allbang td,
.bookCityDetail #class1 table td,
.bookCityDetail #class2 table td,
.bookCityDetail #class3 table td,
.bookCityDetail #class4 table td {
  border: rgba(35, 163, 213, 0.4) solid 1px;
  color: rgba(0, 0, 0, 0.59);
  font-size: 12px;
  line-height: 25px;
  width: 33.3333333333%;
}
.bookCityDetail #allbang td i,
.bookCityDetail #class1 table td i,
.bookCityDetail #class2 table td i,
.bookCityDetail #class3 table td i,
.bookCityDetail #class4 table td i {
  font-size: 16px;
  position: relative;
  top: 1px;
  left: -2px;
  color: #23a3d5;
}
#searchResult {
  margin-top: 20px;
  margin-left: 70px;
  color: gray;
}
#searchResult li {
  display: block;
  float: none;
  margin-bottom: 5px;
}
#bookShelf ul li {
  text-align: center;
  width: calc(25%);
  margin-bottom: 5px;
}
#bookShelf ul li img {
  height: 90px;
}
#bookShelf ul span {
  display: block;
  height: 7px;
  background: #23a3d5;
  clear: both;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
