//主题颜色
@backColor: #eff3f5;
@Color: #23a3d5;
@blackColor: rgba(0, 0, 0, 0.64);
@display: inline-block;
body#readerBody {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    #bookcontainer {
        width: 100%;
        min-height: 100%;
        background: lightgoldenrodyellow;
        padding: 0 15px 100px 15px;
        h4{
            margin-top: 0;
            text-align: center;
            padding-top: 20px;
        }
        p{
            font-size: 18px;
            margin-bottom: 0;
            text-indent: 37px;
            text-align: justify;
            text-justify:inter-ideograph
        }
        #articleBtn{
            text-align: center;
            margin-top: 30px;
            button:first-of-type{
                margin-right: 20px;
            }
            button{
                color: white;
                background: rgb(78, 78, 78);;
                border-radius: 6px;
                z-index: 101;
            }
        }
    }
    #readerHead {
        display: none;
        position: fixed;
//      top: -44px;
        width: 100%;
        background: #4e4e4e;
        a {
            color: white !important;
        }
    }
    #readerSet {
        display: none;
        position: fixed;
        bottom: 0;
//      bottom: -80px;
        width: 100%;
        height: 80px;
        padding-top: 10px;
        background: #4e4e4e;
        >ul {
            width: 100%;
            li {
                width: 25%;
                text-align: center;
                a {
                    color: white;
                    i {
                        color: white !important;
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    div#detailSet {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        background: #4e4e4e;
        bottom: -172px;
        hr {
            border: none;
            border-top: solid 1px gray;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
        }
        div#fontSize {
            button,
            p {
                display: inline-block;
                color: white;
            }
            button {
                height: 25px;
                width: 25px;
                padding: 0;
                background: #1c2d36;
                border: none;
            }
            button:first-of-type {
                margin-right: 10px;
            }
            button:last-of-type {
                margin-left: 10px;
            }
            p:nth-of-type(2) {
                float: right;
                margin-right: 10px;
            }
        }
        div#fontSpace,
        div#fontColor {
            div.col-xs-3 {
                padding-top: 5px;
            }
            div {
                display: inline-block;
            }
            span {
                display: inline-block;
            }
            p {
                float: right;
                color: white;
            }
        }
        div#fontColor {
            div {
                span {
                    i {
                        display: inline-block;
                        height: 30px;
                        width: 30px;
//                      background: rgba(255, 88, 0, 0.98);
                        border-radius: 50%;
                    }
                }
                span:nth-of-type(1){
                    i{
                        background: rgba(255, 88, 0, 0.7);
                    }
                }
                span:nth-of-type(2) {
                    i {
                        background: rgba(0, 206, 255, 0.28);
                    }
                }
                span:nth-of-type(3) {
                    i {
                        background: #eec8f3;
                    }
                }
                    span:nth-of-type(4) {
                        i {
                            background: rgba(0, 128, 0, 0.28);
                        }
                    }
                    span:nth-of-type(5) {
                        i {
                            background: rgba(239, 166, 32, 0.38);
                        }
                    }
                    span:nth-of-type(6) {
                        i {
                            background: lightgoldenrodyellow;
                        }
                    }
                }
            }
        }
        
#catalog{
    width: 100%;
    min-height: 100%;
    background: #eff3f5;
    position: absolute;
    left: 100%;
    top: 0;
    div{
        a{
            position: relative;
            top: 5px;
        }
        i{
            height: 25px;
            width: 25px;
            display: inline-block;
            background-size: cover !important;
            position: relative;
            top: 10px;
        }
        span{
            position: relative;
            top: 3px;
            left: 5px;
            font-size: 16px;
        }
        hr{
            margin-top: 10px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid @Color;
        }
    }
    ul#catalogClass{
        display: block;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        border-bottom: solid rgba(35, 163, 213, 0.41) 1px;
        li{
            float: none;
            width: 26.666666666%;
            font-size: 16px;
        }
        li:first-of-type{
            border-bottom: solid @Color 2px;
        }
    }
    ul.mui-table-view{
        display: block;
        width: 90%;
        margin-left: 5%;
        background-color: @backColor;
         li{
            display: block;
            float: none;
            padding-left: 18px;
         }
    }
    ul.mui-table-view:before{
        background-color: @backColor;
    }
    ul.mui-table-view{
        display: none;
    }
    ul.chapter{
        display: block;
    }
}      
}