body#readerBody {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
body#readerBody #bookcontainer {
  width: 100%;
  height: 100%;
  background: lightgoldenrodyellow;
}
body#readerBody #bookcontainer h4 {
  font-size: 20px;
}
body#readerBody #bookcontainer p {
  font-size: 18px;
}
body#readerBody #readerHead {
  position: fixed;
  top: -44px;
  width: 100%;
  background: rgba(0, 0, 0, 0.64);
}
body#readerBody #readerHead a {
  color: white !important;
}
body#readerBody #readerSet {
  position: fixed;
  bottom: -80px;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.64);
}
body#readerBody #readerSet > ul {
  width: 100%;
}
body#readerBody #readerSet > ul li {
  width: 25%;
  text-align: center;
}
body#readerBody #readerSet > ul li a {
  color: white;
}
body#readerBody #readerSet > ul li a i {
  color: white !important;
  display: block;
  margin-bottom: 8px;
}
body#readerBody div#detailSet {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.64);
  bottom: -172px;
}
body#readerBody div#detailSet hr {
  border: none;
  border-top: solid 1px gray;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
body#readerBody div#detailSet div#fontSize button,
body#readerBody div#detailSet div#fontSize p {
  display: inline-block;
  color: white;
}
body#readerBody div#detailSet div#fontSize button {
  height: 25px;
  width: 25px;
  padding: 0;
  background: #1c2d36;
  border: none;
}
body#readerBody div#detailSet div#fontSize button:first-of-type {
  margin-right: 10px;
}
body#readerBody div#detailSet div#fontSize button:last-of-type {
  margin-left: 10px;
}
body#readerBody div#detailSet div#fontSize p:nth-of-type(2) {
  float: right;
  margin-right: 10px;
}
body#readerBody div#detailSet div#fontSpace div.col-xs-3,
body#readerBody div#detailSet div#fontColor div.col-xs-3 {
  padding-top: 5px;
}
body#readerBody div#detailSet div#fontSpace div,
body#readerBody div#detailSet div#fontColor div {
  display: inline-block;
}
body#readerBody div#detailSet div#fontSpace span,
body#readerBody div#detailSet div#fontColor span {
  display: inline-block;
}
body#readerBody div#detailSet div#fontSpace p,
body#readerBody div#detailSet div#fontColor p {
  float: right;
  color: white;
}
body#readerBody div#detailSet div#fontColor div span i {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
body#readerBody div#detailSet div#fontColor div span:nth-of-type(1) i {
  background: rgba(255, 88, 0, 0.98);
}
body#readerBody div#detailSet div#fontColor div span:nth-of-type(2) i {
  background: rgba(0, 206, 255, 0.28);
}
body#readerBody div#detailSet div#fontColor div span:nth-of-type(3) i {
  background: #eec8f3;
}
body#readerBody div#detailSet div#fontColor div span:nth-of-type(4) i {
  background: rgba(0, 128, 0, 0.28);
}
body#readerBody div#detailSet div#fontColor div span:nth-of-type(5) i {
  background: rgba(239, 166, 32, 0.38);
}
body#readerBody div#detailSet div#fontColor div span:nth-of-type(6) i {
  background: rgba(0, 206, 255, 0.28);
}
