<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../css/common/iconfont.css"/>
		<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
		<title>书籍列表</title>
	</head>
	<body>
			<div>
				<a href="index.html" class="mui-icon mui-icon-arrowleft backto" id="back"></a>
				<i style="background: url(../img/logo.png);" class="bookLogo"></i>
				<span class="spanName bookName">全部书籍</span>
				<hr class="spanNameHr" />
			</div>
			<ul class="allBooksList">
				<!--<li>
					<img src="../img/boy.jpg"/>
					<div>
						<h5>书籍名称</h5>
						<p>作者</p>
						<p>出处</p>
					</div>
				</li>
				<div class="clearfix">
					
				</div>
				<li>
					<img src="../img/boy.jpg"/>
					<div>
						<h5>书籍名称</h5>
						<p>作者</p>
						<p>出处</p>
					</div>
				</li>-->
			</ul>
			
			<script src="../js/lib/require.js" data-main = "../js/allbook" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
