<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/common/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" class="headerafter">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">注册</h1>
		</header>
		<div class="mui-input-group headerafter">
			<div class="mui-input-row">
				<label>用户名：</label>
				<input id="username" type="text" class="mui-input-clear" placeholder="请输入用户名" value="qg1">
			</div>
			<div class="mui-input-row">
				<label>号码：</label>
				<input id="phone" type="text" class="mui-input-clear" placeholder="请输入您的手机号码" value="18026996508">
			</div>
			<div class="mui-input-row">
				<label>邮箱：</label>
				<input id="email" type="text" class="mui-input-clear" placeholder="请输入您的邮箱" value="869209311@qq.com">
			</div>
			<div class="mui-input-row">
				<label>密码：</label>
				<input id="password" type="password" class="mui-input-clear mui-input-password" placeholder="请输入密码" value="123456">
			</div>
			<div class="mui-input-row">
				<label>确认密码：</label>
				<input id="surePassword" type="password" class="mui-input-clear mui-input-password" placeholder="请输入确认密码" value="123456">
			</div>
			<ul class="mui-table-view mui-table-view-radio" id="sex">
				<li class="mui-table-view-cell mui-selected">
					<a class="mui-navigate-right">男</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">女</a>
				</li>
			</ul>
		</div>
				<div class="buttonWrap">
			<button type="button" class="mui-btn mui-btn-primary" id="reset">重置</button>
			<button type="button" class="mui-btn mui-btn-primary" id="gitMsg" onclick="gitUserMsg();">提交</button>
		</div>
		<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
		<script data-main = "../js/login" src="../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>