<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
		<title>店</title>
	</head>
	<body>
			<div>
				<a href="index.html" class="mui-icon mui-icon-arrowleft backto" id="back"></a>
				<i style="background: url(../img/logo.png);" class="bookLogo"></i>
				<span class="spanName"><span class="StoreName"></span>的店</span>
				<hr class="spanNameHr" />
			</div>
			<div class="storeMsg">
				<img class="bgImg" src="../img/index1.jpg"/>
				<img class="userHead" src="../img/logo.png"/>
				<h5 class="storeName">店名</h5>
				<p class="storeDescription">店描述</p>
			</div>
			
			<div class="allBooks">
				
			</div>
		
			
		<script data-main = "../js/store" src="../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
