
@font-face {font-family: "iconfont";
  src:url('../../fonts/iconfont.ttf?t=1492260277349') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #23a3d5;
}

.icon-shoucang:before { content: "\e619"; }

.icon-tuichu:before { content: "\e600"; }

.icon-mianfei:before { content: "\e636"; }

.icon-yijian:before { content: "\e626"; }

.icon-huodong:before { content: "\e61e"; }

.icon-qiandao:before { content: "\e977"; }

.icon-shucheng:before { content: "\e614"; }

.icon-guanli:before { content: "\e62a"; }

.icon-nansheng:before { content: "\e648"; }

.icon-xinxi:before { content: "\e624"; }

.icon-ziliao:before { content: "\e613"; }

.icon-dashang:before { content: "\e6fb"; }

.icon-heart:before { content: "\e62f"; }

.icon-books:before { content: "\e72c"; }

.icon-aixin:before { content: "\e697"; }

.icon-nvsheng1:before { content: "\e601"; }

.icon-laba:before { content: "\e60d"; }

