<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>后台管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">添加书籍</h1>
		</header>
		<form class="mui-input-group headerafter">

			<div class="mui-input-row">
				<label for="bookName">书名</label>
				<input type="text" name="bookName" id="bookName" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="author">作者</label>
				<input type="text" name="author" id="author" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="from">出处</label>
				<input type="text" name="from" id="from" class="mui-input-clear" value="网络连载" />
			</div>

			<div class="mui-input-row">
				<label for="classIs">类别</label>
				<input type="text" name="classIs" id="classIs" class="mui-input-clear" value="女生" />
			</div>

			<div class="mui-input-row">
				<label for="Msg">信息</label>
				<input type="text" name="Msg" id="Msg" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="imgUrl">封面地址</label>
				<input type="text" name="imgUrl" id="imgUrl" class="mui-input-clear" value="" />
			</div>
			
			<div class="mui-input-row">
				<label for="score">所需积分</label>
				<input type="text" name="score" id="score" class="mui-input-clear" placeholder="管理员定" value="" />
			</div>
			
			<div class="mui-input-row">
				<label for="price">价格</label>
				<input type="text" name="price" id="price" class="mui-input-clear" placeholder="RMB，商家定" value="" />
			</div>
			
			<div class="mui-input-row">
				<label for="price">购买地址</label>
				<input type="text" name="buyUrl" id="buyUrl" class="mui-input-clear" placeholder="商家定" value="" />
			</div>
		</form>
		<div class="buttonWrap">
			<button type="button" class="mui-btn mui-btn-primary" id="reset">重置</button>
			<button type="button" class="mui-btn mui-btn-primary" id="gitMsg" onclick="gitBookMsg();">提交</button>
		</div>
		
		<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
		<script data-main = "../../js/manager" src="../../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>