<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>书籍管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/main.css"/>	
		<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="index.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">书籍管理</h1>
		</header>
		
		<table class="backManager" border="">
			<tr>
				<th>序号</th>
				<th>书名</th>
				<th>作者</th>
				<th>操作</th>
			</tr>
		</table>
		

		<script data-main = "../../js/manager" src="../../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>