<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>添加书籍</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="../index.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">后台管理</h1>
		</header>
		
		<ul class="mui-table-view backManager">
		    <li class="mui-table-view-cell">
		        <a href="javascript:;" class="mui-navigate-right">书籍管理</a>
		    </li>
		    <li class="mui-table-view-cell">
		        <a href="javascript:;" class="mui-navigate-right">用户管理</a>
		    </li>
		    <li class="mui-table-view-cell">
		        <a href="javascript:;" class="mui-navigate-right">全部商家管理</a>
		    </li>
		    <li class="mui-table-view-cell">
		        <a href="javascript:;" class="mui-navigate-right">意见管理</a>
		    </li>
		</ul>
		
		<ul class="mui-table-view backManager">
		    <li class="mui-table-view-cell ">
		        <a href="javascript:;" class="mui-navigate-right">个体商家管理</a>
		    </li>
		</ul>
		
		 <!--<ul class="mui-table-view backManager"> 
	        <li class="mui-table-view-cell mui-collapse">
	            <a class="mui-navigate-right" href="#">面板1</a>
		            <ul>
		            	<li><a href="">添加书籍</a></li>
		            	<li><a href="">管理书籍</a></li>
		            </ul>
	        </li>
	    </ul>-->
	    
	<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
	<script data-main = "../../js/manager" src="../../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
