<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>书籍管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/main.css"/>	
		<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="index.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">卖家书籍管理</h1>
		</header>
		
		<div class="mui-input-group headerafter userMsg">
			<div class="mui-input-row">
				<label>店名：</label>
				<a class="mui-navigate-right">
					<span id="storeName" class="pull-right">加载中...</span>
			    </a>
			</div>
			<div class="mui-input-row">
				<label>店描述：</label>
				<a class="mui-navigate-right">
					<span id="storeExplain" class="pull-right">加载中...</span>
			    </a>
			</div>
		</div>
		
		<table class="backManager" id="allSaleBookList" border="">
			<tr>
				<th>序号</th>
				<th>书名</th>
				<th>作者</th>
				<th>价格</th>
				<th>操作</th>
			</tr>
		</table>
		
		<div id="bookUpdate">
		<form class="mui-input-group headerafter">

			<div class="mui-input-row">
				<label for="bookName">书名</label>
				<input type="text" name="bookName" id="bookName" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="author">作者</label>
				<input type="text" name="author" id="author" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="from">出处</label>
				<input type="text" name="from" id="from" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="classIs">类别</label>
				<input type="text" name="classIs" id="classIs" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="msg">信息</label>
				<input type="text" name="msg" id="msg" class="mui-input-clear" value="" />
			</div>

			<div class="mui-input-row">
				<label for="imgUrl">封面地址</label>
				<input type="text" name="imgUrl" id="imgUrl" class="mui-input-clear" value="" />
			</div>
			
			<div class="mui-input-row">
				<label for="price">价格</label>
				<input type="text" name="price" id="price" class="mui-input-clear" value="" />
			</div>
		</form>
		<div class="buttonWrap">
			<button type="button" class="mui-btn mui-btn-primary" id="cancle">取消</button>
			<button type="button" class="mui-btn mui-btn-primary" id="gitMsg" onclick="gitBookMsg();">提交</button>
		</div>
			
		</div>
		<button type="button" id="addBook" class="mui-btn mui-btn-primary mui-btn-outlined" booktype="saler">添加</button>

		<script data-main = "../../js/manager" src="../../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>