<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<script src="https://cdn.wilddog.com/js/client/current/wilddog.js"></script>
		<title>我的收藏</title>
	</head>

	<body>
		<div>
			<a href="../index.html" class="mui-icon mui-icon-arrowleft backto" id="back"></a>
			<i style="background: url(../../img/logo.png);" class="bookLogo"></i>
			<span class="spanName bookName">我的收藏</span>
			<hr class="spanNameHr" />
		</div>
		
			<ul id="allCollect">
				<li>书籍收藏</li>
				<li>店家收藏</li>
			</ul>		
			
			<ul class="mui-table-view bookCollect">
			</ul>
			<ul class="mui-table-view storeCollect">
				
			</ul>
		<script data-main = "../../js/user" src="../../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>