<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>阅读器</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/bootstrap.min.css" />
		<style type="text/css">
			#Jcolor{
				position: fixed !important;
			}
		</style>
	</head>

	<body id="readerBody">
		<div id="bookcontainer" class="">
			<div id="article" class="">	
				<!--<div id="articleBtn">
					<button type="button" class="mui-btn mui-btn-outlined" id="pre">上一章</button>
					<button type="button" class="mui-btn mui-btn-outlined" id="next">下一章</button>				
				</div>						-->
			</div>
		</div>
		<header class="mui-bar mui-bar-nav" id="readerHead">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="backIndex"></a>
		</header>
		<div id="readerSet">
			<ul>
				<li>
					<a href="javaScript:"><i class="mui-icon mui-icon-bars"></i>目录</a>
				</li>
				<li>
					<a href="javaScript:"><i class="mui-icon mui-icon-bars"></i><span>日间</span></a>
				</li>
				<li>
					<a href="javaScript:"><i class="mui-icon mui-icon-bars"></i>字体</a>
				</li>
				<li>
					<a href="javaScript:"><i class="mui-icon mui-icon-bars"></i>设置</a>
				</li>
			</ul>
		</div>
		<div id="detailSet">
			<div id="fontSize">
				<button id="jianFontSize">-</button>
				<p>字号：&nbsp;<span id="fontSizeSpan">18</span></p>
				<button id="addFontSize">+</button>
				<p>字体大小</p>
			</div>
			<hr />
			<div id="fontSpace">
				<div class="col-xs-9">
					<span class="col-xs-2">
						<i class="mui-icon mui-icon-bars"></i>
					</span>
					<span class="col-xs-2">
						<i class="mui-icon mui-icon-bars"></i>
					</span>
					<span class="col-xs-2">
						<i class="mui-icon mui-icon-bars"></i>
					</span>
					<span class="col-xs-2">
						<i class="mui-icon mui-icon-bars"></i>
					</span>
					<span class="col-xs-2">
						<i class="mui-icon mui-icon-bars"></i>
					</span>
					<span class="col-xs-2">
						<i class="mui-icon mui-icon-bars"></i>
					</span>

				</div>
				<div class="col-xs-3">
					<p>行距</p>
				</div>
			</div>
			<hr />
			<div id="fontColor">
				<div class="col-xs-9" id="fontColorDiv">
					<span class="col-xs-2">
						<i></i>
					</span>
					<span class="col-xs-2">
						<i></i>
					</span>
					<span class="col-xs-2">
						<i></i>
					</span>
					<span class="col-xs-2">
						<i></i>
					</span>
					<span class="col-xs-2">
						<i></i>
					</span>
					<span class="col-xs-2">
						<i></i>
					</span>
				</div>
				<div class="col-xs-3">
					<p id="moreColor">背景</p>
				</div>
			</div>

		</div>
		<!--<div id="moreColorPang" style="position: fixed;left: 0;bottom: 264px;" onclick="changeColor();">

		</div>-->
		<div id="catalog">
			<div>
				<a href="javascript:;" class="mui-icon mui-icon-arrowleft" id="back"></a>
				<i style="background: url(../../img/index1.jpg);" class="logo"></i>
				<span>书籍名称</span>
				<hr class="hr" />
			</div>
			
			<ul id="catalogClass">
				<li>目录</li>
				<li>书签</li>
				<li>笔记</li>
			</ul>
			
			<ul class="mui-table-view catalogD chapter">
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right">第一章</a>
			    </li>
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right">第二章</a>
			    </li>
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right">第三章</a>
			    </li>
			</ul>
			<ul class="mui-table-view catalogD">
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right">01</a>
			    </li>
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right">02</a>
			    </li>
			</ul>
			<ul class="mui-table-view catalogD">
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right">笔记01</a>
			    </li>
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right">02</a>
			    </li>
			</ul>
		</div>
		<script data-main = "../../js/reader" src="../../js/lib/require.js" type="text/javascript" charset="utf-8"></script>
		<script src="color.js"></script>
	</body>

</html>